.greeting{
    background-image: url("images/mirror.jpg");
	background-size: cover;
    color: #379e97;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

.greeting button, .team button{
    border: 1px solid black;
    background-color: white;
    padding: 1vh;
    border-radius: 10px;
}

.greeting button:hover, .team button:hover{
    cursor: pointer;
    border: 1px solid #379e97;
    background-color: #379e97;
    color: white;
}

.section-text{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 4vh 4vw;
    flex: 2;
}

.section-text > *{
    margin-top: 1vh;
}

.section-title:hover{
    cursor: pointer;
    color: #379e97;
}

.section-img-box{
    height: 100%;
}

.section-img{
    max-width: 90%;
    max-height: 100%;
    padding: 0;
    margin: 0;
}

.section-info{
    display: flex;
    justify-content: center;
    gap: 8vw;
    padding: 2vh 0;
}
.section-info ul{
    list-style:circle;
}

.commercial{
    background-color: #faf8f5;
}

.team{
    background-color: #f7e9e9;
}

#team-text{
    text-align: center;
}

#team-text > *{
    margin-bottom: 4vh;
}

#team-title{
    font-size: 5rem;
}




/*MEDIA QUERIES*/
@media screen and (max-width: 600px){
    .greeting{
        text-align: center;
        background-position: center;
        align-items: center;
    }
    .greeting button{
        width: 40vw;
    }
    .greeting-text-sm{
        color: black;
    }
    .greeting-text-xs{
        color: white;
    }
    .section-img-box{
        display: none;
    }
    .section-text ul{
        margin-left: 5vw;
    }
    .commercial > .section-text{
        margin-top: 2vh;
    }
    .team button:first-of-type{
        min-width: 40vw;
        min-height: 10vw;
    }
    .team button:last-of-type{
        min-width: 30vw;
        min-height: 8vw;
    }
}

@media screen and (min-width: 600px){
    .greeting{
        text-align: left;
        padding: 10vh;
    }
    .greeting button{
        width: 20vw;
    }
    section{
        height: 100vh;
        display: flex;
        align-items: center;
        padding: 5% 10%;
    }
    .section-title{
        font-size: 2rem;
    }
    .section-text{
        margin: 0;
    }
    .commercial > .section-img-box{
        margin-left: 10vw;
    }
    .team button:first-of-type{
        min-width: 20vw;
    }
    .team button:last-of-type{
        min-width: 10vw;
    }

}