.welcome{
    height: 100vh;
    background-image: url("./images/welcome.jpg");
	background-size: cover;
    background-position: center;
	text-align: left;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.welcome h1{
    color: #6D166F
}

.welcome button{
    border: 1px solid black;
    background-color: white;
    font-weight: bold;
}

.welcome button:hover{
    background-color: #6D166F;
    cursor: pointer;
    color: white;
    border: none;
}

@media screen
and (max-width: 600px){
    .welcome{
        padding: 20vh 20vh 0 2vh;
    }
    .welcome button{
        padding: 3% 5%;
        width: 200px;
        border-radius: 15px;
    }
}

@media screen
and (min-width: 600px)
and (max-width: 700px){
    .welcome{
        padding: 30vh 30vh 0 4vh;
    }
    
    .welcome button{
        padding: 3% 5%;
        width: 200px;
        border-radius: 15px;
    }
}