*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gowun Dodum', sans-serif;
}

body{
    background-color: #d8d9db;
}

header{
    height: 13.4vh;
    background-color: white;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}

.logo{
    color: #379e97;
}

.menu{
    width: 24px;
    height: 24px;
    margin: 0;
}

.menu > *{
    background-color: #232322;
    width: 100%;
    height: 2.8px;
    border-radius: 3px;
    transition-property: transform;
    transition-duration: 0.5s;
    margin-top: 5px;
}

.menu-top{
    margin-top: 0;
}

.drawer{
    height: 100vh;
    width: min(50vw, 280px);
    position: absolute;
    top: 0;
    left: -200vw;
    background-color: white;
    box-shadow: 4px 0 6px 0 rgba(34, 60, 80, .16);
    transition: transform 0.3s;
}

.drawer-logo{
    padding: 3vh;
    padding-bottom: 5vh;
}

.drawer hr{
    border: 0;
    border-top: 1px solid #c9c9c6;
    height: 1px;
}

.services{
    padding-top: 3vh;
}

.service{
    display: flex;
    color: #2b2b29;
    width: 100%;
    align-items: center;
    padding: 0 min(4vw, 20px);
    gap: 4vw;
    margin-bottom: 3vh;
}

.service img{
    height: 36px;
    width: 36px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 38
}

.policy{
    width: min(50vw, 280px);
    text-align: center;
    position: absolute;
    padding: 1vh 0;
    bottom: 0;
    color: #575755;
}

@media screen
 and (max-width: 700px){
    .menu{
        display: block;
    }
}

@media screen
 and (min-width: 700px){
    .menu{
        display: none;
    }
}