*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gowun Dodum', sans-serif;
}

body{
    background-color: rgb(200, 216, 222);
}


/*<<<--- HEADER --->>>*/
header{
    display: flex;
    justify-content: space-between;
    padding: 0 3vw;
    background-color: white;
    align-items: center;
    height: 13.4vh;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    overflow: hidden;
}

/*LOGO*/
.logo{
    color: #379e97;
}

/*MENU*/

.menu{
    height: 24px;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.menu:hover{
    cursor: pointer;
}

.menu-top, .menu-center, .menu-bottom{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    transition: transform 0.5s;
}
